<nav class="navbar navbar-inverse bg-success navbar-fixed-top"> 
    <div class="container">
        <img src="#" alt="logo">
    
    </div>
    
        <h1 class="navbar-brand" style="margin-left: 700px;">TRANSPORT LICENSE APPLICATION SYSTEM</h1>
       
    
    
    </nav> <br>
    <nav class="navbar navbar-expand-lg navbar-static-top bg-secondary " >  
        <div class="container ">
            <h1 class="navbar-brand">TRANSPORT LICENSE APPLICATION SYSTEM</h1>
               
        </div>
        <a class="navbar-brand "href="#" >Home</a>
        <a class="navbar-brand "href="about">About</a>
        <a class="navbar-brand" href="#">Contact</a>
        <a class="navbar-brand" href="#">Logout</a>
    </nav>
   
        
   
<div class="container" style="margin-top: 30px;">
    <div class="row">
         <div class="col-md-3 top-margin" style="background-color: paleturquoise; height: 380px;">
             <div class="panel-heading" style="font-size: 30px; margin-top: 20px;" >
                <mat-toolbar style="width: 100%; height: 30px;"><b>INFORMATION</b></mat-toolbar>
            </div><br>
            <ul>
                <li>
                   <p routerLink="#" style="color: blue;"> Personal Information </p>
                </li><br>
                <li>
                   <p routerLink="#" style="color: blue;"> Payment Information</p>
                </li><br>
                <li>
                    <p routerLink="#" style="color: blue;">Attachment</p>
                </li><br>
                <li>
                   <p routerLink="#" style="color: blue;"> Help</p>
                </li>
            </ul>
         </div>
            
                <div class="col-md-6 top-margin" style="background-color: paleturquoise; margin-left: 100px;">
                    <button routerLink="users" class="btn btn-primary" type="submit" name="button" style="margin-top: 30px; margin-left: 70px;"> CLICK HERE FOR STARTING APPLICATION FOR LICENSE </button>
                        <button routerLink="#" class="btn btn-primary" type="submit" name="button" style="margin-top: 80px; margin-left: 70px;" > CLICK HERE TO FILL THE PARTICULARS TO BE FURNISHED </button>
                        <button routerLink="#" class="btn btn-primary" type="submit" name="button" style="margin-top: 100px; margin-left: 90px;" > CLICK HERE FOR ATTACHING THE DOCUMENTS </button>


                    
                
            </div>

    </div>
</div>
<br>

<footer class="text-center text-white" style="background-color: #45637d;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white">Transport.com</a>
    </div>
      </footer>
      <router-outlet></router-outlet>